<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755978359706-mvktcn5pa2mr47jc3mvcjnt1r844iibg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755978359706-mvktcn5pa2mr47jc3mvcjnt1r844iibg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>755978359706-18186cmrrbnsb6pg3gth3478vc33ig41.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMh80TFwl30SWAT4JlQ4lGbFQAjd2yyVI</string>
	<key>GCM_SENDER_ID</key>
	<string>755978359706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nitc.InstaBook</string>
	<key>PROJECT_ID</key>
	<string>instabook-sign-in</string>
	<key>STORAGE_BUCKET</key>
	<string>instabook-sign-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755978359706:ios:a513370b9afaa42e33a023</string>
</dict>
</plist>